{% macro form(name, submit_txt = 'Submit', disabled = '', form, date_format) -%}
  <form id="{{name}}_form" class="form-horizontal">
    <fieldset>  
    {% for field in form %}
    
      <div class="control-group">
        <label class="control-label" for="{{field.id}}">{{field.label}}</label>
        <div class="controls">
          {% if field.element == 'text' %}
            {% if field.id == 'id' %}
              <input type="text" class="input-xlarge optional disabled {{field.class}}" id="{{field.id}}" disabled>
            {% elif field.class == 'date' %}
              <div id="{{name}}_datepicker" class="input-append date datepicker" data-date="12-02-2012" data-date-format="{{field.format}}">
                <input size="16" type="text" class="dp" value="12-02-2012" id="{{field.id}}" disabled>
                <span class="add-on"><i class="icon-calendar"></i></span>
              </div>
            {% else %}
              <input type="text" class="input-xlarge required {{field.class}}" id="{{field.id}}" val="None">
            {% endif %}
          {% elif field.element == 'checkbox' %}
            <label class="checkbox">
              <input type="checkbox" class="{{field.class}}" id="{{field.id}}" value="True">
            </label>
          {% elif field.element == 'textarea' %}
            <textarea class="input-xlarge required {{field.class}}" id="{{field.id}}" name="{{field.id}}" rows="3"></textarea>
          {% endif %}
         </div>
      </div>
    {% endfor %}
      
      <div class="form-actions">
        {% if name == 'create' %}
          <button id="{{name}}_btn" type="submit" class="{{disabled}} btn btn-primary" {{disabled}}><i class="icon-plus"></i> {{submit_txt}}</button> <span class="form_result"></span>
        {% elif name == 'update' %}
          <button id="{{name}}_btn" type="submit" class="{{disabled}} btn btn-primary" {{disabled}}><i class="icon-edit"></i> {{submit_txt}}</button> <span class="form_result"></span>
        {% endif %}
      </div>
    </fieldset>
  </form>
{%- endmacro %}