{% extends "layout.html" %}

{% block scripts %}

{% endblock %}

{% block content %}
    
    <h1>User management</h1>
    
    <p>
    {% if logged_in %}
      <p>Signed in as <img src = "{{ current_user.pic }}"> at <a href="{{ current_user.profile }}">{{ current_user.username }}</a>.
      <p><a href="/logout">Logout</a>
    {% else %}
      No one signed in. Sign in with:
      <ul>
        <li><a href="/auth/facebook">Facebook</a>
        <li><a href="/auth/twitter">Twitter</a>
        <li><a data-toggle="modal" href="#signup">Sign up</a> or <a data-toggle="modal" href="#signin">Sign in</a> with email
      </ul>
    {% endif %}
    
    <div class="tri-state modal hide" id="signup">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Sign up with your email address</h3>
      </div>
    
      <div class="modal-body">
        <form id="signup_form" class="form-horizontal" name="email-signup">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" class="input-xlarge required" id="username">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="email">Email address</label>
              <div class="controls">
                <input type="email" class="input-xlarge required email" id="email">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="password_raw">Password</label>
              <div class="controls">
                <input type="password" class="input-xlarge required" id="password_raw">
              </div>
            </div>
          </fieldset>
        </form>
        <div class="form_result"></div>
      </div>
      
      <div class="modal-footer">
        <a id="signup_btn" href="#" class="btn btn-primary submit">Sign Up</a>
      </div>
    </div>
    
    <div class="tri-state modal hide" id="signin">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Sign in</h3>
      </div>
    
      <div class="modal-body">
         <form class="form-horizontal" name="email-signin">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="email">Email address</label>
              <div class="controls">
                <input type="text" class="input-xlarge required email" id="email">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" class="input-xlarge required" id="password">
              </div>
            </div>
          </fieldset>
        </form>
        <div class="form_result"></div>
      </div>
      <div class="modal-footer">
        <a id="signin_btn" href="#" class="btn btn-primary submit">Sign In</a>
      </div>
    </div>
    
    <h1>RESTful API</h1>
    <p>Create widget
    
    <h1>LESS Stylesheets</h1>
    <p><span class="app-less-verify">If this text appears in blue</span>, then LESS stylesheets are working. 
    <p>Modify <code>/gae/static/css/less/app.less</code> to change application-specific styles. Recompile styles by running 
    <code>npm run-script less</code> from <code>/gae/static</code>
    
    <p>If <code>npm run-script less</code> command fails:
    <ul>
      <li>Install npm.
      <li>Run <code>npm init</code>
      <li>Accept all defaults (keep pressing Enter)
      <li>Run <code>npm install less --save</code> to install LESS
      <li>Run <code>npm run-script less</code> again. 
    </ul>
    
    <h1>Session support</h1>
    
    <p>Reload this page. The number of pageviews should increase. 
    
    <p>Pageviews: {{pageviews}}
    
{% endblock %}
    